/* basic */
body{
  font-family: 'PT Sans', Helvetica, sans-serif;
  color: #555;
  margin: 0;
  height: 100%;
  font-size: 16px;
  line-height: 1.5em;
}

.infos, .infos a{
  text-decoration: none;
  color: #aaa;
  font-size: 16px;
  font-weight: normal;
}

.button{
  color: #ff724c;
  text-decoration: none;
  outline: none;
  width: 160px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.button:hover{
  color: #e56845;
  text-decoration: none;
  outline: none;
}


h1, h2, h3, h4, h5, h6{
  color: #222;
  font-family: 'Oxygen', Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.5em;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
}

p{
  font-size: 0.875em;
  margin: 0 0 10px;
  font-weight: 300;
}

.bold{
  font-weight: bold;
  font-size: 15px;
}

img{
  max-width: 100%;
  height: auto;
  border: 0;
}


/* resume */
input[type=submit], input[type=button], button, a.button{
  display: inline-block;
  position: relative;
  padding: 0.8em 2em;
  margin-bottom: .25em;
  font-size: 0.875em;
  line-height: 1.2;
  border: 0;
  outline: 0;
  border: 1px solid #ff724c;
  color: #222;
  text-shadow: none;
  background: none;
  border-radius: 0;
  font-family: 'PT Sans', Helvetica, sans-serif;
}

.btn{
  border-radius: 0;
}

input[type=submit]:hover, input[type=submit]:focus, input[type=button]:focus, button:hover, button:focus, a.button:hover, a.button:focus{
  color: #fff;
  background-color: #ff724c;
}

.paper {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  top: auto;
  padding: 10px 0;
  left: 0;
  background-color: #fff;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-box-shadow: 0 1px 33px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 1px 33px rgba(0,0,0,0.15);
  box-shadow: 0 1px 33px rgba(0,0,0,0.15);
}

.name{
  font-size: 45px;
  opacity: .7;

}

.job{
  display: inline-block;
  position: relative;
  margin: 0;
  color: #fff;
  background-color: #ff724c;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 200;
  text-align: center;
  z-index: 2;
}

.border-title h3{
  position: relative;
}

.border-title h3:after{
  content: '';
  display: block;
  position: absolute;
  width: 2px;
  height: 100%;
  left: -10px;
  bottom: 0;
  background-color: #ff724c;
}

.event-date{
  display: inline-block;
  width: 40%;
  position: relative;
  color: #fff;
  font-weight: 300;
  line-height: 1.1em;
  margin: 0 0 3px;
  background-color: #ff724c;
  padding: 5px 8px 5px 20px;
  margin-left: -20px;
  font-size: 15px;
}

.event-name{
  margin: 10px 0 0;
}

.event-description{
  color: #a5a5a5;
  margin: 0 0 4px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.45em;
}

/* responsive */
/* extra small */
@media all and (max-width: 576px) {
  .container{
    padding: 0 40px 0 40px;
  }

  .event-date{
    width: 80%;
  }
}

/* small */
@media all and (min-width: 576px) {
  .container{
    padding: 0 10px 0 10px;
  }

  .event-date{
    width: 80%;
  }
}

/* medium */
@media all and (min-width: 768px) {
  .container{
    padding: 0 20px 0 20px;
  }

  .event-date{
    width: 70%;
  }
}

/* large */
@media all and (min-width: 992px) {
  .container{
    padding: 0 40px 0 40px;
  }

  .event-date{
    width: 50%;
  }
}

/* extra large */
@media all and (min-width: 1200px) {
  .container{
    padding: 0 10px 0 10px;
  }

  .event-date{
    width: 35%;
  }
}